body {
  font-family: Arial;
  background: #f4f6f8;
  text-align: center;
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #4CAF50;
  color: white;
}

button:hover {
  opacity: 0.8;
}

li {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  list-style: none;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}